<div class="container" id="modalContainer">
    <div class="panel panel-default" id="modalPanel">
        <div class="panel-heading" id="hdrClr">
          Edit Sales Agents
        </div>
        <div class="panel-body">   
          <form class="form-signin">
            <label for="name" class="sr-only">Name</label>
            <input class="form-control" placeholder="Enter Name" ng-model="sa.name" required autofocus>
            
            <label for="name" class="sr-only">Address</label>
            <input class="form-control" placeholder="Enter Address" ng-model="sa.address" required autofocus>
             
            <label for="skunum" class="sr-only">Phone Number</label>
            <input class="form-control" placeholder="Enter Phone Number" ng-model="sa.phone" required autofocus>
            
            
            <a href="#/salesAgent" class="btn btn-primary " 
                         type="submit" 
                         ng-click="editSaleAgent(sa)" >
                Save
            </a>
            <button class="btn btn-danger" type="submit" ng-click="cancel()">
                    Cancel
            </button>
          </form>
        </div>
    </div>
</div> 