<div class="col-sm-6 col-md-10 container">
    <div class="panel panel-default">
        <div class="panel-heading" id="hdrClr">
          Export Data
        </div>
        <div class="panel-body" style="height:280px">
	        <div class="row">
	            <label class="col-sm-4">Export Data From:</label>
	            <select class="col-sm-3" id="sel1" style="width: 50%; left" ng-model="exportData" ng-change="changeOption()">
			        <option>Buy</option>
			        <option>Sell</option>
			        <option>Inventory</option>
			        <option>Inventory Hold</option>
			        <option>Customer</option>
			        <option>Conversion</option>
			        <option>Supplier</option>
			        <option>Sales Agent</option>
			        <option>Cash Flow</option>
			        <option>Category</option>
			        <option>Product</option>
			        <option>Transaction Buy</option>
			        <option>Transaction Sell</option>                        
	            </select>  
	                
	        </div> 
	        <div class="row" >
	        	<button class="col-sm-offset-8 col-sm-2" style="color:blue" ng-click="dataExport()">Export</button>
	        </div>
	        <div class="alert alert-success" ng-show="success">
	      		<strong>Successfully exported data!</strong> 
	    	</div>
	    </div>
	</div>
</div>