<div class="container jumbotron">
    
      <div class="modal-header">
        <h2 class="modal-title">Enter Your Product</h2>
      </div>
      <div class="modal-body" >
       
        <label for="title" class="sr-only">Name</label>
        <input id="title" class="form-control" placeholder="Name" ng-model="title" required autofocus>
       
        
        
        <label for="catagory">Catagory</label>
       <select class="form-control" ng-model="catagory">
            <option ng-repeat="catagory in forminput.catagorys"  >
                 {{catagory}}
            </option>
            <option >Add Catagory...</option>
         </select>
         
        <label for="description" >Description</label>
         <select class="form-control" ng-model="description">
            <option ng-repeat="unit in forminput.units"  >
                 {{unit}}
            </option>
            <option >Add Unit...</option>
         </select>
         
        <label for="price" class="sr-only">Price</label>
        <input tpye="number" id="price" class="form-control" placeholder="Price" ng-model="price" required autofocus>      
        
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="addProduct(title, supplier, catagory, unit, price)">
            Add Product</button>
      </div>
      

</div>
