<div class="col-md-10 col-sm-4 container">
    <div class="panel panel-default">
        <div class="panel-heading"> Inventory List</div>
        <div class="prodList panel-body">

            <p>
                <button class="btn btn-success" ng-click="move()">Move Product</button>
                <button class="btn btn-success" ng-click="convert()">Convert Product</button>
            </p>

            <div id="grid1" ui-grid="myInventory" ui-grid-edit ui-grid-row-edit ui-grid-cellNav class="myGrid"></div>
        </div>
    </div>
</div>